---
import profileImage from '@assets/images/profileImage.jpeg';
import Container from '@components/Container';
import Caption from '@components/text/Caption';
import Paragraph from '@components/text/Paragraph.astro';
import TypingHeading from '@components/text/TypingHeading';

const headings = [
  'Developer',
  'Problem solver',
  'Broadcast Engineer',
  'Meticulous Craftsman',
  'Mechanic',
];
---

<section
  id="about"
  class="relative z-10 flex min-h-screen w-full flex-col items-center bg-neutrals-900 lg:flex-row"
>
  <img
    src={profileImage.src}
    width={profileImage.width}
    height={profileImage.height}
    decoding="async"
    loading="lazy"
    class="inset-0 max-h-screen w-full object-cover object-center lg:absolute lg:h-full lg:w-1/2"
  />
  <Container>
    <div class="w-full py-28 lg:flex">
      <div class="lg:ml-auto lg:basis-1/2 lg:pl-8">
        <Caption>About</Caption>
        <TypingHeading
          client:visible
          headings={headings}
        />
        <Paragraph>
          I&apos;m Kent, a developer and broadcast engineer. 
          Extremely passionate about creating and delivering high quality products.
        </Paragraph>
      </div>
    </div>
  </Container>
</section>
